<head>
  <link rel="stylesheet" href="css/prac2.css">
</head>
<style>
  body {
    background-color: rgb(144, 228, 144);
  }
</style>

<body style="color: rgb(20, 66, 8);">


  <section>
    <div>
      <h4 style="text-align: center;">LET'S LISTEN TO NATURE</h4>
      <div>
        <audio controls>
          <source src="css/wateraudio.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>

    <div>
      <h4  style="text-align: center;">LET'S WATCH NATURE</h4>
      <div>
        <video width="320" height="240" controls>
          <source src="img/nature.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>





</body>