<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"  href="css/prac1.css">
</head>

<body>

    <article>
        <h2 style="border:2px solid rgb(22, 21, 21);">CHICAGO TRIP</h2>
        <p>The skyscrapers in Chicago are very interesting. The old architectured buildings are awesome.
            It was a really nice vacation, it was very enjoyable and unforgettable moments</p>
        </article>

        <aside>
            <h4 style="background-color:rgb(52, 180, 202);">Places I Visited in Chicago</h4>
            <p style="background-color:rgb(150, 231, 245);">Skydeck</p>
            <p style="background-color:rgb(150, 231, 245);">The Bean</p>
            <p style="background-color:rgb(150, 231, 245);">Nutella Cafe </p>
                <p style="background-color:rgb(150, 231, 245);">Nandos</p>
                <p style="background-color:rgb(150, 231, 245);">Chicago 360</p>
           
          </aside>
<div class="table">
  <span> <img src="img/bean.jpg" width="400" height="200"></span> 
<span>  <img src="img/chicago1.jpg" width="400" height="200"></span> 
<span>   <img src="img/skydeck.jpg" width="400" height="200"></span> 
<span>   <img src="img/chicago2.jpg" width="400" height="200"></span> 

</div>
    
</body>