<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="css/prac3.css">
    <script  type = "text/javascript" src="js/1script.js">
    </script>
</head>

<body>
   <h1> FEEDBACK FORM </h1>
    <div class="container">
        <form name="myForm" id="feedbackForm" action="/send" method="post" onsubmit="return validateForm()" >
            <div class="input-group">
            <label>Full Name</label>
            <input type="text" placeholder="Enter your name" id="name" name="name"  />
            <div id="name_error"></div>
            </div>
            <div class="input-group">
                <label>Phone Number</label>
                <input type="tel" placeholder="123 456 7890" id="phone" name="phone" required />
                <div id="phone_error"></div>
            </div>
            <div class="input-group">
                <label>Email Id</label>
                <input type="email" placeholder="Enter Email" id="email" name="email" required />
                <div id="email_error"></div>
            </div>
            <div class="input-group">
                <label>Comments</label>
            <textarea rows="3" placeholder="Enter your message" name="comments" id="comments" ></textarea>
            <div id="comments_error"></div>
            </div>
            <input type="submit" value="Submit">
        </form>




    </div>
   
</body>
</html>