<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <link rel="stylesheet" href="css/prac1.css">
</head>

<body>

  <header>
    <div class="name"> ABOUT MYSELF</div>
  </header>

  <figure>
    <img src="img/my.jpg" alt="my picture" width="200" height="300" class="imgmain" style="float: left; ">
  </figure>
  <aside>
    <p> My life motto is 'Do my best, so that I can't blame MYSELF for anything'.</p>
  </aside>
  <p><b>NAME:</b> Nirmita Nallapaneni</p>

  <p><b>DOB: </b> 03/25/2000</p>
  <P><b>GENDER: </b> Female </P>
  <p><b>EMAIL: </b> nnirmita82@gmail.com</p>
  <p><b>PHONE: </b> 2174337088 </p>
  <p><b>AGE: </b> 23</p>
  <p><b>EDUCATION: </b> Masters in Computer Science</p>
  <p><b>HOBBIES:</b> Watching TV, Playing games</p>

  <p></p>


  <q>If you look at what you have in life, you'll always have more.
    If you look at what you don't have in life, you'll never have enough.</q>

  <h4 class="photo"> PHOTO LINKS &emsp13; TIME TABLE &emsp13; AUDIO/VIDEO &emsp13; FEEDBACK &emsp13; GAME</h4>

  <a href="/miami"><b>MIAMI</a><br>
  <a href="/chicago">CHICAGO</a>

  <a href="/table"> &emsp; TABLE</a>

  <a href="/av"> &emsp; AUDIO/VIDEO</a>

  <a href="/feedback"> &emsp; FEEDBACK</a>

  <a href="/game"> &emsp; GAME</a>




  <footer>
    <br><br />
    <p><b>If any questions, please contact the below email address<br>
        <a href="mailto:nirmita.nallapaneni@siu.edu">nirmita.nallapaneni@siu.edu</a></p>
  </footer>


</body>

</html>