<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"  href="css/prac1.css">
</head>

<body>



    <section>
        <h2 style="border:2px solid rgb(22, 21, 21);" >MIAMI TRIP</h2>
        <p>I really enjoyed the beaches there and the water rides are very adventurous. There are very interesting places
            to visit in miami. </p>
        </section>

        <aside>
            <h4 style="background-color:rgb(52, 180, 202);">Places I Visited in Miami</h4>
            <p style="background-color:rgb(150, 231, 245);"> <b>Keywest</p>
            <p style="background-color:rgb(150, 231, 245);"><b>Miami City tour</p>
            <p style="background-color:rgb(150, 231, 245);">Wynwood Walls</p>
                <p style="background-color:rgb(150, 231, 245);">Bayside Marketplace</p>
               
          </aside>
          <div class="table">
   <span> <img src="img/miami.jpg" width="400" height="200"></span>
<span> <img src="img/beach1.jpg" width="400" height="200"></span>
<span>   <img src="img/miami1.jpg" width="400" height="200"></span>
<span> <img src="img/miamii.jpg" width="400" height="200"></span>
</div>

</body>