
<head> <link rel="stylesheet"  href="css/prac2.css">
</head>

<body>
    <table>
    <caption>MY TIMETABLE</caption>
    <thead>
    <tr>
    <th>TIMINGS</th>
    <th>MONDAY</th>
    <th>TUESDAY</th>
    <th>WEDNESDAY</th>
    <th>THURSDAY</th>
    <th>FRIDAY</th>
    </tr>
    </thead>
    <tbody>
  
<tr><th>7:30am</th><td>GA work</td><td>GA work</td><td>GA work</td><td>GA work</td><td>Sleep</td></tr>
<tr><th>10:30am</th><td>GA work</td><td>GA work</td><td>GA work</td><td>GA work</td><td>GA Work</td></tr>
<tr><th>1:30pm</th><td>Prepare Food</td><td>Prepare Food</td><td>Prepare Food</td><td>Prepare Food</td>
 <td>GA Work</td></tr>

 <tr><th>4:30pm</th><td>Play Games</td><td>Play Games</td><td>Play Games</td><td>Play Games</td><td>Play Games</td></tr>
 
 <tr><th>4:30pm</th><td>Play Games</td><td>Play Games</td><td>Watch TV</td><td>Play Games</td><td>Watch TV</td></tr>
 
 <tr><th>7:30pm</th><td>Eat food</td><td>Eat food</td><td>Eat food</td><td>Eat food</td><td>Eat food</td></tr>
  
 <tr><th>9:00pm</th><td>Study</td><td>Study</td><td>Study</td><td>study</td><td>Study</td></tr>
   
 <tr><th>11:00pm</th><td>Sleep</td><td>Sleep</td><td>Sleep</td><td>Sleep</td><td>Sleep</td></tr>

 
 
 

    

    </tbody>
    </table>
    </body>